<!-- <section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Hi, I'm Swetha Sri</h1>
    <p class="hero-subtitle">Crafting Beautiful Code & User-Friendly Apps</p>
    <div class="cta-container">
      <a routerLink="/about" class="cta-button">About Me</a>
      <a routerLink="/projects" class="cta-button">Discover My Projects</a>
      <a routerLink="/contact" class="cta-button">Contact Me</a>
    </div>
    <i class="fas fa-code decor-icon"></i>
  </div>
  <div class="background-decor">
    <div class="decor decor1"></div>
    <div class="decor decor2"></div>
    <div class="decor decor3"></div>
  </div>
</section> -->
<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Hi, I'm Swetha Sri</h1>
    <p class="hero-subtitle">{{ typedSubtitle }}</p>
    <div class="cta-container">
      <a routerLink="/projects" class="cta-button">Discover My Projects</a>
      <a routerLink="/about" class="cta-button">About Me</a>
      <a routerLink="/contact" class="cta-button">Contact Me</a>
    </div>
    <i class="fas fa-code decor-icon"></i>
  </div>
  <div class="background-decor">
    <div class="decor decor1"></div>
    <div class="decor decor2"></div>
    <div class="decor decor3"></div>
  </div>
</section>