<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-4">Welcome to VideoPlayer</h1>
        <p class="lead">Your personal video streaming and playlist manager</p>
        <hr class="my-4">
        <p>Browse through your favorite videos or explore new content in your playlist!</p>
        <a class="btn btn-primary btn-lg" href="/videos" role="button">Browse Playlist</a>
    </div>
</div>
<!-- <div class="container mt-5">
    <h2>Featured Video</h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
    </div>
</div> -->
