<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlJgA6k7QZ8r2skuYYixjLGFBdz7yRiZqINg&s">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlJgA6k7QZ8r2skuYYixjLGFBdz7yRiZqINg&s" alt="Logo" style="height: 40px; width: auto;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink = "/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  mx-2" routerLink = "/category">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  mx-2" href="javascript:void(0)">Link</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div> -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlJgA6k7QZ8r2skuYYixjLGFBdz7yRiZqINg&s">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlJgA6k7QZ8r2skuYYixjLGFBdz7yRiZqINg&s" alt="Logo" style="height: 40px; width: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/category">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="javascript:void(0)">Link</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search"> 
                <button class="btn btn-primary" type="button" >Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 70px;"> <!-- Adjust margin to prevent content from being hidden behind the navbar -->
    <router-outlet></router-outlet>
</div>